In [1]:
#import libaries

from bs4 import BeautifulSoup
import requests
import smtplib #this libary is for sending emails
import time
import datetime

In [2]:
def check_price():
    url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_4?crid=2NXW3JX2OJTI&dib=eyJ2IjoiMSJ9.UUJSIRewxQMMExgNKmjKavUjMujZ_LXkPUm66X44UJTda3vc31ealGRblNvQmbwzS7pNkYPUyTtVw4UHhsWf02zogtJ4ZT7hq8U2-G59QdnV-BkE3e7cxwVNoCVZW5mNy_d66bU2ZfJc_F97GMxKvb3_3_wksqy-wgH43u6MN6EKigDx4Z3671w_1MRKlV_G5KPa258iPcglN-s0vSnSXSjlipLDFYcDFI47RHgmfi36X9I2WpN67HeQQav1jpMq4f_6U3lAxamhW3L02iPDQww8e_wWyKI-wihTtP3BmJc.C7nGfbNt1GKiDtoSBWPnn3_zCIWiMnXhCGyxn7aUz3I&dib_tag=se&keywords=data%2Banakyst%2Btshirt&qid=1719182477&sprefix=data%2Banakyst%2Btshirt%2Caps%2C1689&sr=8-4'

    headers =  {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36 Edg/126.0.0.0"}

    page = requests.get(url)

    soup1 = BeautifulSoup(page.content, 'html.parser')

    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

    title = soup2.find(id='productTitle').get_text()
    spans = [
    soup2.find('span',class_= 'a-price-symbol'),
    soup2.find('span',class_= 'a-price-whole'),
    soup2.find('span',class_= 'a-price-fraction')
    ]
    price = ''.join([span.get_text(strip=True) for span in spans])
    price = price.strip()[1:]
    title = title.strip()
    today = datetime.date.today()
    import csv

    header = ['title', 'Price', 'Date']
    data = [title, price, today]

    with open('Amazon web dataset.csv', 'a+', newline='', encoding = 'UTF8') as file:
        writer = csv.writer(file)#creating the csv
        writer.writerow(data)#insert the data

In [4]:
#every 2 seconds its gonna run through this entire process
while(True):
    check_price()
    time.sleep(2)
#if i run it on 86400 secs the dataset would automate daily

KeyboardInterrupt:

In [5]:
import pandas as pd

df = pd.read_csv("C:/Users/user/Amazon web dataset.csv")
df

                                                title  Price        Date
0   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
1   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
2   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
3   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
4   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
5   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
6   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
7   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
8   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
9   Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
10  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
11  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
12  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
13  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
14  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
15  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
16  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
17  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
18  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
19  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
20  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
21  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
22  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
23  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
24  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
25  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
26  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
27  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24
28  Funny Got Data MIS Data Systems Business Analy...  19.99  2024-07-24

In [7]:
def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    server.starttls()
    server.elho()
    server.login('godsonodele@gmail.com', 'davidegea')
    
    subject = 'This shirt is now below $15 Now is your chance to buy'
    body = 'Now is your chance to pick up the shirt of your dreams'
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'godsonodele@gmail.com',
        msg
    )